body {
  min-height: 100dvh; 
  background: linear-gradient(to bottom right, rgb(62, 62, 211), rgb(121, 34, 121));
  background-repeat: no-repeat;
  background-size: fixed; 
}

h1 {
  color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
  text-align: center;
}
p {
  color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
  text-align: center;
}
label {
  color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-family: Arial, sans-serif;
  width: 290px;
  padding: 20px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
  color: rgb(255, 255, 255);
  background-color: rgb(80, 190, 89); 
}
button:hover {
  background-color: #78e47b; 
  color: rgb(255, 255, 255);
}

a {
  color: rgb(28, 158, 197);
  font-family: Arial, sans-serif;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
}
form {
  background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
  padding: 50px;
  margin: 20px;
  border-radius: 50px;
  margin: 0 auto;
}
input {
  font-family: Arial, sans-serif;
  width: 280px;
  padding: 7px;
  border-radius: 15px;
  border: none;
  cursor: caret;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255); 
  text-align: center;

}
